<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/admin/dashboard">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseHome" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Home Page</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseHome">
            <li>
              <a href="/admin/events">Events</a>
            </li>
            <li>
              <a href="/admin/events/create-event">Create Event</a>
            </li>
            <li>
              <a href="/admin/team-members">Team Members</a>
            </li>
            <li>
              <a href="/admin/team-members/add-member">Add Member</a>
            </li>
            <li>
              <a href="/admin/users-view">User's View</a>
            </li>
            <li>
              <a href="/admin/our-goal">Our Goal</a>
            </li>
          </ul>
        </li>



         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseQuestions" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Questions Collections</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseQuestions">
            <li>
              <a href="/admin/faculties">Faculty</a>
            </li>
             <li>
              <a href="/admin/semester">Semester</a>
            </li>
            <li>
              <a href="/admin/subject">Subject</a>
            </li>
            <li>
              <a href="/admin/question">Upload Question</a>
            </li>
          </ul>
        </li>



        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="login.html">Login Page</a>
            </li>
            <li>
              <a href="register.html">Registration Page</a>
            </li>
            <li>
              <a href="forgot-password.html">Forgot Password Page</a>
            </li>
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
          </ul>
        </li>
    

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="/admin/solutions">
             <i class="fa fa-fw fa-gear"></i>
            <span class="nav-link-text">Solutions</span>
          </a>
        </li>

      </ul>